---
const { title } = Astro.props;
---

<style>
  p {
    left: 0px;
    margin: 10px 0px 0px -115px;
    box-sizing: border-box;
    color: rgb(33, 37, 41);
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 10px;
    font-weight: 700;
    opacity: 0.8;
    padding-left: 0px;
    text-align: left;
    text-transform: uppercase;
  }
</style>

<p>{title}</p>
<br />
